@import url("https://fonts.googleapis.com/css2?family=Martel+Sans:wght@200;300;400;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

body {
  background-color: black;
}

.main {
  position: relative;

  background-image: url("images/bg.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: max(1200px, 100vw);
  height: 644px;
}

.box {
  color: white;
  height: 644px;
  width: 100%;
  opacity: 0.69;
  background-color: black;
  position: absolute;
  top: 0;
}

nav {
  margin: auto;
  max-width: 60vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  padding:0px 10px;
}

nav img {
  color: red;
  width: 145px;
  position: relative;
  z-index: 10;

}

nav button {
  position: relative;
  z-index: 10;
}

.hero {
  font-family: "Martel Sans", sans-serif;
  font-weight: 600;
  font-style: normal;
  height: calc(100% - 100px);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: white;
  position: relative;
  gap: 15px;
  padding: 0px 29px;
}

.hero> :nth-child(1),
.hero> :nth-child(2) {
  font-weight: bolder;
  font-size: 40px;
  text-align: center;
}

.hero> :nth-child(3) {
  font-size: 20px;
  font-weight: 400;
  text-align: center;
}

.line {
  height: 6px;
  background-color: rgb(68, 67, 67);
  z-index: 20;
  position: relative;
}

.btn {
  padding: 3px 8px;
  font-weight: 400;
  background-color: rgba(96, 95, 95, 0.155);
  color: white;
  border: 1px solid white;
  border-radius: 4px;
}

.red-sn {
  background-color: red;
  color: whitesmoke;
}

.red {
  background-color: red;
  color: whitesmoke;
  padding: 3px 24px;
  font-size: 20px;
  border-radius: 4px;
  font-weight: 700;
}

.hero-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

.main input {
  padding: 7px 101px 5px 14px;
  font-size: 12px;
  font-weight: 700;
  border-radius: 4px;
  background-color: rgba(23, 23, 23, 0.2);
  border: 1px solid rgba(246, 238, 238, 0.5);
  color: white;
}

.first {

  display: flex;

  max-width: 70vw;
  margin: auto;
  color: white;
  justify-content: center;
  align-items: center;


}

@media screen and (max-width: 1256px) {
  .first {
    flex-wrap: wrap;
  }
}

.secimg {
  position: relative;

}

.secimg img {
  width: 555px;
  position: relative;
  z-index: 10;

}

.secimg video {
  position: absolute;
  top: 105px;
  right: 0px;
  width: 486px;

}


.first>div {
  display: flex;
  flex-direction: column;

}

section.first>div {
  display: flex;
  flex-direction: column;
  padding: 34px 0px;
}

section.first>div :nth-child(1) {
  font-size: 38px;
  font-weight: bolder;
}


section.first>div :nth-child(2) {
  font-size: 18px;

}

section.first>div :nth-child(3) {
  font-size: 18px;

}

.faq {
  background-color: black;
  color: white;
  padding: 34px;
}

.faq h2 {
  text-align: start;
  font-size: 28px;
  width: 83vw;
  margin: auto;
}

.faqbox svg {
  filter: invert(1);
}

.faqbox {
  transition: all 0.5s ease-out;
  display: flex;
  background-color: #2d2d2d;
  padding: 26px;
  max-width: 80vw;
  margin: 8px auto;
  justify-content: space-between;
  cursor: pointer;
  font-size: 24px;
  color: #f4f4f4;
}

.faqbox:hover {
  background-color: rgba(65, 65, 65, 1);
}

footer {
  color: white;
  max-width: 60vw;
  margin: auto;
  padding: 14px;
}

.footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  color: white;

}

@media screen and (max-width: 1256px) {
  nav{
    max-width: 80vh;
 
  }
  .footer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 25px;
  }

  .secimg video {
    width: 337px;
    top:50px;
  }

  .secimg img {
    width: 389px;

  }

  .hero> :nth-child(1),
  .hero> :nth-child(2) {

    font-size: 32px;

  }

  .hero> :nth-child(3) {
    font-size: 15px;

  }
  .hero-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    flex-direction: column;
  }
  footer {
    color: white;
    max-width: 90vw;
    margin: auto;
    padding: 14px;
}
section.first>div {

  padding:8px 0px;
}
}
.footer-item {
    align-items: center;
   

}

.footer-item {
  display: flex;
  flex-direction: column;
}

.que {
  padding: 34px 0;
}

footer a {
  color: white;
}